// SPACING

$space-0: 0;
$space-4: 0.25rem;
$space-8: 0.5rem;
$space-12: 0.75rem;
$space-16: 1rem;
$space-20: 1.25rem;
$space-24: 1.5rem;
$space-32: 2rem;
$space-40: 2.5rem;
$space-48: 3rem;
$space-64: 4rem;
$space-80: 5rem;
$space-96: 6rem;
$space-128: 8rem;
$space-160: 10rem;
$space-192: 12rem;
$space-224: 14rem;
$space-256: 16rem;

// BOX SHADOW

$shadow-default: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
$shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);

// FONT FAMILY

$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// FONT SIZE

$font-12: 0.75rem;
$font-14: 0.875rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-24: 1.5rem;
$font-30: 1.875rem;
$font-36: 2.25rem;
$font-48: 3rem;
$font-64: 4rem;

// WIDTHS AND MAX WIDTHS

$mw-320: 20rem;
$mw-384: 24rem;
$mw-448: 28rem;
$mw-512: 32rem;
$mw-576: 36rem;
$mw-672: 42rem;
$mw-768: 48rem;
$mw-896: 56rem;
$mw-1024: 64rem;
$mw-1152: 72rem;
$mw-full: 100%;

$w-10: 10%;
$w-20: 20%;
$w-25: 25%;
$w-30: 30%;
$w-33: 33%;
$w-34: 34%;
$w-40: 40%;
$w-50: 50%;
$w-60: 60%;
$w-70: 70%;
$w-75: 75%;
$w-80: 80%;
$w-90: 90%;
$w-100: 100%;
$w-third: calc(100% / 3);
$w-two-thirds: calc(100% / 1.5);
$w-screen: 100vw;

// HEIGHTS

$h-0: $space-0;
$h-4: $space-4;
$h-8: $space-8;
$h-12: $space-12;
$h-16: $space-16;
$h-20: $space-20;
$h-24: $space-24;
$h-32: $space-32;
$h-40: $space-40;
$h-48: $space-48;
$h-64: $space-64;
$h-80: $space-80;
$h-96: $space-96;
$h-128: $space-128;
$h-160: $space-160;
$h-192: $space-192;
$h-224: $space-224;
$h-256: $space-256;

// COLORS

$color-black: #000;
$color-white: #fff;

$color-grayDark: #2d3748;
$color-text: #2d3748;
$color-background: #fff;
$color-primary: #2b6cb0;
$color-primaryHover: #2c5282;
$color-secondary: #718096;
$color-muted: #e2e8f0;
$color-success: #9ae6b4;
$color-info: #63b3ed;
$color-warning: #faf089;
$color-danger: #feb2b2;
$color-light: #f7fafc;
$color-dark: #2d3748;
$color-text-muted: #718096;

$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

$red-100: #fff5f5;
$red-200: #fed7d7;
$red-300: #feb2b2;
$red-400: #fc8181;
$red-500: #f56565;
$red-600: #e53e3e;
$red-700: #c53030;
$red-800: #9b2c2c;
$red-900: #742a2a;

$orange-100: #fffaf0;
$orange-200: #feebc8;
$orange-300: #fbd38d;
$orange-400: #f6ad55;
$orange-500: #ed8936;
$orange-600: #dd6b20;
$orange-700: #c05621;
$orange-800: #9c4221;
$orange-900: #7b341e;

$yellow-100: #fffff0;
$yellow-200: #fefcbf;
$yellow-300: #faf089;
$yellow-400: #f6e05e;
$yellow-500: #ecc94b;
$yellow-600: #d69e2e;
$yellow-700: #b7791f;
$yellow-800: #975a16;
$yellow-900: #744210;

$green-100: #f0fff4;
$green-200: #c6f6d5;
$green-300: #9ae6b4;
$green-400: #68d391;
$green-500: #48bb78;
$green-600: #38a169;
$green-700: #2f855a;
$green-800: #276749;
$green-900: #22543d;

$teal-100: #e6fffa;
$teal-200: #b2f5ea;
$teal-300: #81e6d9;
$teal-400: #4fd1c5;
$teal-500: #38b2ac;
$teal-600: #319795;
$teal-700: #2c7a7b;
$teal-800: #285e61;
$teal-900: #234e52;

$blue-100: #ebf8ff;
$blue-200: #bee3f8;
$blue-300: #90cdf4;
$blue-400: #63b3ed;
$blue-500: #4299e1;
$blue-600: #3182ce;
$blue-700: #2b6cb0;
$blue-800: #2c5282;
$blue-900: #2a4365;

$indigo-100: #ebf4ff;
$indigo-200: #c3dafe;
$indigo-300: #a3bffa;
$indigo-400: #7f9cf5;
$indigo-500: #667eea;
$indigo-600: #5a67d8;
$indigo-700: #4c51bf;
$indigo-800: #434190;
$indigo-900: #3c366b;

$purple-100: #faf5ff;
$purple-200: #e9d8fd;
$purple-300: #d6bcfa;
$purple-400: #b794f4;
$purple-500: #9f7aea;
$purple-600: #805ad5;
$purple-700: #6b46c1;
$purple-800: #553c9a;
$purple-900: #44337a;

$pink-100: #fff5f7;
$pink-200: #fed7e2;
$pink-300: #fbb6ce;
$pink-400: #f687b3;
$pink-500: #ed64a6;
$pink-600: #d53f8c;
$pink-700: #b83280;
$pink-800: #97266d;
$pink-900: #702459;
